<body>

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">

                <div class="card-header">
                    <h3>Terms of Use and Privacy Policy</h3>


                </div>
                <div class="card-body">
                    <h3>
                        PERSONAL DATA PROTECTION NOTICE
                    </h3><br/> RELATING TO ALL INFORMATION COLLECTED ON PITCHSPOT<br/>
                    <b>This Personal Data Protection Notice is issued pursuant to the requirements of the Personal Data Protection Act 2012 ("PDPA") <br/><br/>
                        By registering online for Pitchspot's services and clicking on the button "Let's Change the World!": "By signing up, you agree to Pitchspot's Terms of Use and Privacy Policy.", you: </b> <br/><br/>
                    <ol style="margin-left:25px">
                        <li>agree to disclose personal information (including any images, photographs and/or videos uploaded during the events/seminars/talks) about yourself to us, The Hangar at NUS Enterprise, 21 Heng Mui Keng Terrace, Singapore 119613,
                            Pitchspot Pte. Ltd. ("Pitchspot") (such personal information being hereinafter referred to collectively as "Personal Data");</li>
                        <li>acknowledge that we have informed you that we may collect, use (including, process, record, hold, store), and disclose (collectively, "Process") your Personal Data;</li>
                        <li>confirm that you have read this Personal Data Protection Notice and Pitchspot's Personal Data Protection Privacy Statement and related Pitchspot Data Protection Policy [http://pitchspot.co/pdpa]; and</li>
                        <li>consent to Pitchspot's collection, use and disclosure of your Personal Data, for the Purposes as stated herein.</li>

                    </ol>

                    <br/>

                    <b>We Process your Personal Data, in accordance with the PDPA, for the following purposes ("Purposes"):</b><br/><br/>
                    <ol style="margin-left:25px">
                        <li>Marketing and promotional activities and such other strategic alliances.</li>
                        <li>Marketing profiling activities relating to entrepreneurship, intellectual property and technology commercialisation and other similar events.</li>
                        <li>To perform market, demographic or trend analysis/survey for research and marketing purposes.</li>
                        <li>Communication purposes, such as sending out e-bulletins, newsletters, emails, brochures, leaflets, letters and flyers.</li>
                        <li>To send information, updates and corporate information by post, email, text messages or social media about our events or those of third parties that we think may interest you.</li>
                        <li>Maintenance and upkeep of event participants' records and data.</li>
                        <li>Administer your participation in events.</li>
                        <li>Process your payment transactions.</li>
                        <li>Respond to your questions related to the event or what we do.</li>
                        <li>Registration and maintenance of participants' database.</li>
                        <li>To send out invitations for Pitchspot present and future events which may be of interest to you.</li>
                    </ol>
                    Your up-to-date and accurate Personal Data is necessary to enable us to constantly improve the quality, and the relevancy to you, of service offerings from Pitchspot.<br/><br/>

                    <b>Failure to Supply your Personal Data</b> <br/><br/>If you choose not to provide some of all the information requested by us in accordance with the PDPA, we may not be able to keep relevant, accurate and complete Personal Data about
                    you and this may affect our ability to accomplish the purposes set out above.<br/><br/>

                    <b>Disclosure of Personal Data</b> <br/><br/>We may disclose your Personal Data, for any of the Purposes and in accordance with the PDPA, to:
                    <ul style="margin-left:25px">
                        <li>any related companies of Pitchspot;</li>
                        <li>any of our agents and service providers providing services to Pitchspot in relation to the Purposes;</li>
                        <li>any third parties funding any of the Purposes; </li>
                        <li>any third parties who is jointly organising an event with Pitchspot; </li>
                        <li>any third parties who is under a duty of confidentiality to keep your Personal Data confidential and who must comply with the PDPA.</li>
                    </ul>

                    <b>Data Security</b> <br/><br/>Pitchspot will keep and process your Personal Data in a secure manner. Pitchspot will provide and implement appropriate administrative security safeguards to ensure your Personal Data will not be misused
                    and to prevent any unauthorised Processing of your Personal Data.<br/><br/>

                    <b>Your Right to Access Your Personal Data</b><br/><br/> You have the right to access and to amend your Personal Data which is in our custody. You may contact Pitchspot to:
                    <ul style="margin-left:25px">
                        <li>request that your Personal Data is amended* if it is inaccurate, incomplete or not up to date;</li>
                        <li>request Pitchspot to cease processing your Personal Data; </li>
                        <li>request to access* your Personal Data and be provided with information on how we have, or may have, used or disclosed your Personal Data within a year before the <br/>date of request for access; </li>
                        <li>withdraw your consent for us to Process your Personal Data. </li>

                    </ul>
                    *a reasonable fee on a cost-recovery basis may be chargeable.<br/><br/>

                    <b>You can contact our designated representative on any queries or for any information regarding the processing of your Personal Data by us, as follows:</b><br/> <br/>Chief Security Officer <br/>Pitchspot Pte. Ltd. <br/>e: cso@pitchspot.co<br/><br/>                    Last Updated: 1st February 2019
                </div>

                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        <span id="signupDesc">Back to<a id="signupForm" href="/login">Pitchspot Login</a>
                        </span>

                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="footer ">© Pitchspot 2019</div>




</body>