html,
body {
    /* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Avenir';
    background: #283240;
}

a {
    color: #35c0ce;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #f1f6f8 !important;
}

.fb_social_icon {
    position: absolute;
    right: 60px;
    top: 11px;
    font-size: 35px;
    margin-left: 10px;
    color: #3b5998;
}

.fb_social_icon:hover {
    color: #153469;
    cursor: pointer;
}

.g_social_icon {
    position: absolute;
    right: 20px;
    top: 11px;
    font-size: 35px;
    margin-left: 10px;
    color: #dd4b39;
}

.g_social_icon:hover {
    color: #C20806;
    cursor: pointer;
}

.card-header h3 {
    color: #11264b;
}

.card-body {
    height: 60%;
    overflow-y: scroll;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: 11px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #11264b;
    color: #f1f6f8;
    border: 0 !important;
    font-size: 1.8em;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: #11264b;
    padding-bottom: 0.5em;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: white;
    background-color: #11264b;
    width: 100px;
    border-radius: .5em;
    width: 100%;
}

.login_btn:hover {
    background-color: #153469;
}

.links {
    color: #11264b;
}

.links a {
    margin-left: 4px;
}

.brand_logo_container {
    position: absolute;
    height: 130px;
    width: 130px;
    top: -100px;
    border-radius: 50%;
    background: #283240;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 110px;
    width: 110px;
    border-radius: 50%;
}

.signup_err_msg {
    display: none;
    text-align: center;
    margin-bottom: 0.25em;
    color: red;
}

.tnc_text {
    margin-top: 5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 0.8em;
}


/* login form */

#signup-btn {
    display: none;
}

#firstName {
    display: none;
}

#login-btn {
    display: block;
}

#loginDesc {
    display: none;
}

#signupDesc {
    display: block;
}

#tnc {
    display: none;
}

#forgetPassword {
    display: none;
}

#showloginPassword {
    display: none;
    cursor: pointer;
}

#showforgetPassword {
    cursor: pointer;
}

#signuppassword {
    display: none;
}

#resignuppassword {
    display: none;
}

#rmb-checkbox {
    display: flex;
}

#signup-header {
    display: none;
}

#reset-header {
    display: none;
}


/* footer */

.footer {
    text-align: center;
    color: white;
    position: absolute;
    margin-top: -3em;
    padding-left: auto;
    width: 100%;
}