<!-- <div class="" *ngIf="!mobile" style=""> -->
    <div>
        <!-- <app-navbar></app-navbar> -->
    
        <router-outlet>
        </router-outlet>
    
        <!-- <app-footer></app-footer> -->
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
    
        <!-- Your customer chat code -->
        <div class="fb-customerchat" attribution=setup_tool page_id="382110442150977" theme_color="#35c0ce" logged_in_greeting="Hi there, welcome to Pitchspot! How may I help you?" logged_out_greeting="Hi there, welcome to Pitchspot! How may I help you?">
        </div>
    
    
    </div>