<!-- ecosystem as a serivce business page coded below -->

<!--  <div class="box-3">
          <div class="vertical-line-2"></div>
          <div class="container header-3 px-3">SOLUTION FOR ORGANISERS</div>
          <p class="section-2 px-5 container">Innovation challenges and hackathons: Manage your participants' data easily and reach a wider audience with the
              <a class="link link:hover" target="_blank" href="pitchspot.co/business">Pitchspot Ecosystem-as-a-Service.</a></p>
          <div class="container d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
              <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                  <div class="my-3 py-3">
                      <img src="/assets/images/simple management11264b.png" class="icon">
                      <div class="sub-header-3">SIMPLE MANAGEMENT</div>
                      <div class="section-3-text px-2">Manage your innovation challenge with our platform and suite of services.</div>
                  </div>
              </div>
              <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                  <div class="my-3 py-3">
                      <img src="/assets/images/exposure11264b.png" class="icon">
                      <div class="sub-header-3">EXTENSIVE EXPOSURE</div>
                      <div class="section-3-text px-2">We cover everything from registration, operations and logistics, to marketing.</div>
                  </div>
              </div>
              <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                  <div class="my-3 py-3">
                      <img src="/assets/images/analytics11264b.png" class="icon">
                      <div class="sub-header-3">DATA ANALYTICS</div>
                      <div class="section-3-text px-2">Our database provides insights to you and your organisation.</div>
                  </div>
              </div>
          </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
          <div class="mr-md-3 pt-1 px-3 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-4">
              <a class="button button:hover" target="_blank" href="https://pitchspot.co/business">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      -->

<!-- <div class="box-2">
        <div class="container header-2 px-3">INFOGRAPHIC</div>
        <div class="container pt-3 px-3 pt-md-5 pr-md-5 text-center">
            <div class="box-2-1">
            </div>
            <div class="d-md-flex flex-md-equal">
                <div class="d-flex justify-content-center">
                    <img src="/assets/images/new mockup with newsfeed.png" class="product" alt="Gain-Pain Ratio Canvas">
                </div>
                <div class="box-2-2">
                    <div class="box-2-text">
                        <p class="section-1 px-5">The <a class="link link:hover" target="_blank" href="pitchspot.co">Pitchspot Toolkit</a> employs machine learning to help you innovate better. We provide you the resources and directions to help further your ideas.</p>
                        <div class="my-3 py-3">
                            <div class="button button:hover" (click)="scrollUp()">Get Started</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-s4">
        <div class="container section-4-text px-4">Realise true potential of ideas with Pitchspot</div>
        <div class="container d-flex justify-content-center space-button">
            <a class="blue-button blue-button:hover" target="_blank" href="https://pitchspot.co/business">Get Started</a>
        </div>
    </div> -->



<!--additional links-->

<!--<a class="link link:hover" target="_blank" href="http://enterprise.nus.edu.sg/educate/summer-programme">NUS Enterprise Summer Programme</a>
<br>
<a class="link link:hover" target="_blank" href="http://enterprise.nus.edu.sg/educate/nus-overseas-colleges">NUS Overseas Colleges Programme</a>
<br>
<a class="link link:hover" target="_blank" href="https://www.hackathon.com/">Hackathons</a>
<br>
<a class="link link:hover" target="_blank" href="https://www.hackathon.com/">Innovation Challenges</a>-->


<!-- <link href="https://fonts.googleapis.com/css?family=Avenir" rel="stylesheet">

<div style="font-family: 'Avenir', sans-serif;">
    <nav class="navbar site-header sticky-top">
        <div class="container d-flex flex-column flex-md-row navbar-container">
            <a class="py-2" href="https://pitchspot.co">
                <img src="/assets/images/Pitchspot Banner 050418.png" class="d-block mx-auto nav-logo" viewBox="0 0 24 24">
            </a>
            <ul class="nav nav-justified justify-content-center">
              <a class="enterprise-box" target="_blank" href="https://pitchspot.co/business">ENTERPRISE</a>
                <li class="nav-item">
              <a class="button" target="_blank" href="https://pitchspot.co">Get Started</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="hero">
        <video playsinline autoplay muted loop poster="/assets/images/ggbplaceholder.png" id="bgvideo" width="x" height="y">
              <source src="/assets/images/ggbgif.mp4" type="video/mp4">
          </video>
        <div class="hero-text">
            <h1 class="header-1"><strong><b>INNOVATION MADE EASY.</b></strong></h1>
            <p class="header-1-sub">Pitchspot provides you with a smart canvas to validate the success of your ideas.</p>
            <div class="hero-button">
                <a class="button button:hover" target="_blank" href="https://pitchspot.co">Let's Innovate</a>
            </div>
        </div>
    </div>

  <div class="box-2">
    <div class="vertical-line"></div>
      <div class="container header-2 px-3">TOOLKIT FOR USERS</div>
        <div class="container pt-3 px-3 pt-md-5 pr-md-5 text-center">
          <div class="box-2-1">
            </div>
            <div class="d-md-flex flex-md-equal">
              <div class="d-flex justify-content-center">
                <img src="/assets/images/new mockup with newsfeed.png" class="product" alt="Gain-Pain Ratio Canvas">
              </div>
                <div class="box-2-2">
                  <div class="box-2-text">
                    <p class="section-1 px-5">The <a class="link link:hover" target="_blank" href="pitchspot.co">Pitchspot Toolkit</a> employs machine learning to help you innovate better. We provide you the resources and directions to help further your ideas.</p>
                    <div class="my-3 py-3">
                      <a class="button button:hover" target="_blank" href="https://pitchspot.co">Get Started</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="box-3">
          <div class="container header-3 px-3">DASHBOARD FOR PROGRESS</div>
            <p class="section-2 px-5 container">The customisable dashboard made for Institutes of Higher Learning (IHLs), Incubators, Accelerators, and Venture Capital firms to track and monitor the progress of your portfolio startups with AI and data analytics.</p>
              <div class="container d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
                <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 py-3">
                        <img src="/assets/images/calculator.png" class="icon">
                        <div class="sub-header-3">QUANTIFIABLE METRICS</div>
                        <div class="section-3-text px-2">Quantify your portfolio startups using the Gain-Pain Ratio.</div>
                    </div>
                </div>
                <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 py-3">
                        <img src="/assets/images/graph-line-screen.png" class="icon">
                        <div class="sub-header-3">MONITOR PROGRESS</div>
                        <div class="section-3-text px-2">Track portolio startups' status and engage them to help them grow.</div>
                    </div>
                </div>
                <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 py-3">
                        <img src="/assets/images/artificial-intelligence.png" class="icon">
                        <div class="sub-header-3">IDENTIFY POTENTIAL</div>
                        <div class="section-3-text px-2">With AI and data analytics driven information, data-driven investment decisions are made more easily.</div>
                    </div>
                </div>
            </div>
          <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="mr-md-3 pt-1 px-3 px-md-5 text-center overflow-hidden">
              <div class="my-3 py-4">
                <a class="button button:hover" target="_blank" href="https://pitchspot.co/business">Learn More</a>
                </div>
              </div>
            </div>
          </div>

<!-- ecosystem as a serivce business page coded below -->
<!--  <div class="box-3">
        <div class="vertical-line-2"></div>
        <div class="container header-3 px-3">SOLUTION FOR ORGANISERS</div>
        <p class="section-2 px-5 container">Innovation challenges and hackathons: Manage your participants' data easily and reach a wider audience with the
            <a class="link link:hover" target="_blank" href="pitchspot.co/business">Pitchspot Ecosystem-as-a-Service.</a></p>
        <div class="container d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <img src="/assets/images/simple management11264b.png" class="icon">
                    <div class="sub-header-3">SIMPLE MANAGEMENT</div>
                    <div class="section-3-text px-2">Manage your innovation challenge with our platform and suite of services.</div>
                </div>
            </div>
            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <img src="/assets/images/exposure11264b.png" class="icon">
                    <div class="sub-header-3">EXTENSIVE EXPOSURE</div>
                    <div class="section-3-text px-2">We cover everything from registration, operations and logistics, to marketing.</div>
                </div>
            </div>
            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <img src="/assets/images/analytics11264b.png" class="icon">
                    <div class="sub-header-3">DATA ANALYTICS</div>
                    <div class="section-3-text px-2">Our database provides insights to you and your organisation.</div>
                </div>
            </div>
        </div>
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="mr-md-3 pt-1 px-3 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-4">
            <a class="button button:hover" target="_blank" href="https://pitchspot.co/business">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    -->
<div class="box-4">
    <div class="vertical-line-3"></div>
    <div class="container header-4 px-5">HIT THE RIGHT SPOT WITH US</div>
    <p class="section-2 px-5">Thousands of people around the world have already made Pitchspot their ideas management platform.</p>
    <div class="container pt-md-5 px-md-5 text-center overflow-hidden">
        <a target="_blank" href="https://www.easyship.com/"><img src="/assets/images/easyshipcolour.png" class="logo"></a>
        <a target="_blank" href="http://www.startup-o.com/"><img src="/assets/images/startup-o.png" class="logo"></a>
        <a target="_blank" href="http://enterprise.nus.edu.sg/"><img src="/assets/images/nusenterprisecolour.png" class="logo"></a>
        <a target="_blank" href="https://iie.smu.edu.sg/"><img src="/assets/images/smucolour.png" class="logo"></a>
        <a target="_blank" href="http://www.ntuitive.sg/"><img src="/assets/images/ntu_logocolour.png" class="logo"></a>
    </div>
    <div class="container py-2 pt-md-5 px-md-5 text-center overflow-hidden">
        <a target="_blank" href="https://www.iss.nus.edu.sg/"><img src="/assets/images/nusisscolour.png" class="logo"></a>
        <a target="_blank" href="https://expertconnect.asia/"><img src="/assets/images/expertconnect.png" class="logo"></a>
        <a target="_blank" href="http://csplus.io"><img src="/assets/images/CS -Logo-600p.png" class="logo"></a>

    </div>
</div>
<div class="container-s4">
    <div class="container section-4-text px-4">Build your innovation ecosystem with Pitchspot</div>
    <div class="container d-flex justify-content-center space-button">
        <a class="teal-button teal-button:hover" target="_blank" href="https://pitchspot.co/business">Learn More</a>
    </div>
</div>

<div class="container container-s5">
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <a target="_blank" href="#top">
                    <!--javascript-->
                    <img src="/assets/images/lightbulb logo only.png" class="light-bulb"></a>
            </div>
        </div>
        <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <div class="header-5"><b>GET COFFEE WITH US</b></div>
                <p>
                    <div class="section-5-text">
                        <a class="link link:hover" target="_blank" href="mailto:hello@pitchspot.co">hello@pitchspot.co</a>
                        <br>
                        <p class="address">
                            <a class="link link:hover" target="blank" href="https://goo.gl/maps/C9PYZJzZjNS2">21 Heng Mui Keng Terrace, The Hangar by NUS Enterprise, #01-01, Singapore 119613</a></p>
                    </div>
                    <div class="d-md-flex justify-content-start flex-md-equal cluster">
                        <a target="_blank" href="https://www.facebook.com/pitchspot"><img src="/assets/images/facebook-grey.png" class="social-media-logo social-media-logo:hover"></a>
                        <a target="_blank" href="https://instagram.com/teampitchspot/"><img src="/assets/images/instagram-grey.png" class="social-media-logo social-media-logo:hover"></a>
                        <a target="_blank" href="https://www.linkedin.com/company/pitchspot"><img src="/assets/images/linkedin-grey.png" class="social-media-logo social-media-logo:hover"></a>
                        <a target="_blank" href="https://www.medium.com/@pitchspot"><img src="/assets/images/medium-grey.png" class="social-media-logo social-media-logo:hover"></a>
                    </div>
            </div>
        </div>
        <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <div class="header-5"><b>RESOURCES</b></div>
                <p>
                    <div class="section-5-text">
                        <a class="link link:hover" target="_blank" href="https://t.me/pitchspot">Community</a>
                        <br>
                        <a class="link link:hover" target="_blank" href="https://medium.com/@pitchspot/your-ai-driven-newsfeed-c0f1d6f02bda">Recent Updates</a>
                        <br>
                        <a class="link link:hover" target="_blank" href="http://enterprise.nus.edu.sg/educate/summer-programme">NUS Enterprise Summer Programme</a>
                        <br>
                        <a class="link link:hover" target="_blank" href="http://enterprise.nus.edu.sg/educate/nus-overseas-colleges">NUS Overseas Colleges Programme</a>
                        <br>
                        <a class="link link:hover" target="_blank" href="https://www.hackathon.com/">Hackathons</a>
                        <br>
                        <a class="link link:hover" target="_blank" href="https://www.hackathon.com/">Innovation Challenges</a>
                    </div>
            </div>
        </div>
    </div>
    <small class="d-md-flex justify-content-center flex-md-equal w-100 my-md-3 pl-md-3 mr-md-3 pt-3 px-3 px-md-5 text-center overflow-hidden my-3 py-3">© Pitchspot 2018</small></div>
</div>


<!-- <div class="box-2">
        <div class="container header-2 px-3">INFOGRAPHIC</div>
        <div class="container pt-3 px-3 pt-md-5 pr-md-5 text-center">
            <div class="box-2-1">
            </div>
            <div class="d-md-flex flex-md-equal">
                <div class="d-flex justify-content-center">
                    <img src="/assets/images/new mockup with newsfeed.png" class="product" alt="Gain-Pain Ratio Canvas">
                </div>
                <div class="box-2-2">
                    <div class="box-2-text">
                        <p class="section-1 px-5">The <a class="link link:hover" target="_blank" href="pitchspot.co">Pitchspot Toolkit</a> employs machine learning to help you innovate better. We provide you the resources and directions to help further your ideas.</p>
                        <div class="my-3 py-3">
                            <div class="button button:hover" (click)="scrollUp()">Get Started</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-s4">
        <div class="container section-4-text px-4">Realise true potential of ideas with Pitchspot</div>
        <div class="container d-flex justify-content-center space-button">
            <a class="blue-button blue-button:hover" target="_blank" href="https://pitchspot.co/business">Get Started</a>
        </div>
    </div> -->

<!--
         <table class="parental">
            <tr>
              <td class="left">
                <img src="/assets/images/simple management11264b.png" class="icon">
                <div class="header-3">SIMPLE MANAGEMENT</div>
                <div class="section-2-text">Manage your innovation challenge with our platform and suite of services.</div>
              </td>
              <td class="center">
                <img src="/assets/images/exposure11264b.png" class="icon">
                <div class="header-3">EXTENSIVE EXPOSURE</div>
                <div class="section-2-text">text</div>
              </td>
              <td class="right">
                <img src="/assets/images/analytics11264b.png" class="icon">
                <div class="header-3">DATA ANALYTICS</div>
                <div class="section-2-text">text</div>
              </td>
            </tr>
          </table>
        </div>
  <div class="col-md-5 p-lg-5 mx-auto my-5">
      <div class="d-flex flex-equal">
        <div class="container d-flex flex-column py-3">
          <a class="button button:hover" target="_blank" href="https://pitchspot.co">Discover More</a>
        </div>
        <div class="container d-flex flex-column py-3">
          <a class="btn btn-danger" target="_blank" href="https://youtu.be/Nto_rCd2KP0">
            <i class="fa fa-caret-square-o-right"></i>
            Watch Demo
          </a>
        </div>
      </div>
    </div>
    <div class="product-device d-none d-md-block"></div>
  <div id="features" class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" style="flex-direction: row-reverse">

    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="txtNew">
        <h3 class="font_3">01</h3>
      </div>
      <ul class="my-3 p-3 txtNew">
        <li>
          <h2 class="display-5">Gain-Pain Ratio (GPR) Canvas</h2>
        </li>
        <li>
          <h2 class="display-5">Sentiment Analysis and NLP</h2>
        </li>
        <li>
          <h2 class="display-5">Recommendations based on AI</h2>
        </li>
      </ul>
    </div>

    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Discover the Value of your Idea</h2>
        </div>
        <div class="product-canvas box-shadow mx-auto">
        </div>
      </div>
  </div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
          <div class="txtNew">
              <h3 class="font_3">02</h3>
            </div>
            <ul class="my-3 p-3 txtNew">
              <li>
                <h2 class="display-5">Keep up-to-date with Competitors</h2>
              </li>
              <li>
                <h2 class="display-5">Realtime Alerts/Notifications</h2>
              </li>
            </ul>
      </div>
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Competitive Analysis</h2>
      </div>
      <div class="product box-shadow mx-auto"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Supported by:</h2>
      </div>
      <div class="d-flex" style="width: 100%; height: 300px; border-radius: 21px 21px 0 0;">
          <a class="expertconnect-logo mx-auto" target="_blank" href="https://expertconnect.asia"></a>
          <a class="nus-enterprise-logo mx-auto" target="_blank" href="http://enterprise.nus.edu.sg/"></a>
          <a class="iss-logo mx-auto" target="_blank" href="https://www.iss.nus.edu.sg/"></a>
      </div>
    </div>

  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="seeting mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3" >
        <h2 class="display-5 sizeable-font"><b>OUR TEAM</b></h2>
        <h2 class="display-5 sizeable-font"><b>/</b></h2>
        <p class="lead" style="color: #00305B">We break norms, and break away from the pack. We jump from the pan and into the fire. We colour outside the lines to stay ahead of the curve. We're Team Pitchspot.</p>
      </div>
    </div>
    <div class="ryan mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      </div>
  </div>

  <footer id="contact" class="py-5 footer">
    <div class="container row mx-auto">

      <div class="col-12 col-md">
          <h3 style="color:white"><b>Drop us a line</b></h3>

          <form class="py-5" (submit)="submitMessage($event, inputName, inputEmail, inputText)">
            <div class="form-group">
                <input #inputName type="text" class="form-control" (keyup)="name_update(inputName.value)" (blur)="name_update(inputName.value)" placeholder="Name" required>
              </div>
            <div class="form-group">
              <input #inputEmail type="email" class="form-control" (keyup)="email_update(inputEmail.value)" (blur)="email_update(inputEmail.value)" placeholder="Email" required>
            </div>
            <div class="form-group">
              <textarea #inputText type="text" class="form-control" (keyup)="text_update(inputText.value)" (blur)="text_update(inputText.value)" placeholder="Message" rows="3" style="resize: none" required></textarea>>
            </div>

              <button type="submit" id="submit" value="Submit" class="btn btn-info" >Send</button>

            </form>
      </div>

      <div class="col-12 col-md">
        <h3 class="col-md" style="color:white"><b>Contact</b></h3>
        <div class="col-md py-5" style="color:white">21 Heng Mui Keng Terrace
          <div style="color:white">The Hangar @ NUS Enterprise</div>
          <div style="color:white">Singapore 119613</div>
        </div>
        <div class="col-md d-block mb-3">
          <a href="#home"><img style="width: 40px; height: 40px; object-fit: cover;" src="/assets/images/up-arrow.png"></a>
        </div>
        <div class="col-md-6 d-md-flex flex-md-equal" >
          <a class="mx-auto" target="_blank" href="https://www.facebook.com/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/facebook-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.instagram.com/teampitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/instagram-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.linkedin.com/company/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/linkedin-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.medium.com/@pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/medium-logo.png"></a>
        </div>
        <small class="col-md d-block mb-3 py-5" style="color:white">&copy; 2018 by Pitchspot</small>
      </div>

            </form>
      </div>

      <div class="col-12 col-md">
        <h3 class="col-md" style="color:white"><b>Contact</b></h3>
        <div class="col-md py-5" style="color:white">21 Heng Mui Keng Terrace
          <div style="color:white">The Hangar @ NUS Enterprise</div>
          <div style="color:white">Singapore 119613</div>
        </div>
        <div class="col-md d-block mb-3">
          <a href="#home"><img style="width: 40px; height: 40px; object-fit: cover;" src="/assets/images/up-arrow.png"></a>
        </div>
        <div class="col-md-6 d-md-flex flex-md-equal" >
          <a class="mx-auto" target="_blank" href="https://www.facebook.com/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/facebook-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.instagram.com/teampitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/instagram-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.linkedin.com/company/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/linkedin-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.medium.com/@pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/medium-logo.png"></a>
        </div>
        <small class="col-md d-block mb-3 py-5" style="color:white">&copy; 2018 by Pitchspot</small>
      </div>

            </form>
      </div>

      <div class="col-12 col-md">
        <h3 class="col-md" style="color:white"><b>Contact</b></h3>
        <div class="col-md py-5" style="color:white">21 Heng Mui Keng Terrace
          <div style="color:white">The Hangar @ NUS Enterprise</div>
          <div style="color:white">Singapore 119613</div>
        </div>
        <div class="col-md d-block mb-3">
          <a href="#home"><img style="width: 40px; height: 40px; object-fit: cover;" src="/assets/images/up-arrow.png"></a>
        </div>
        <div class="col-md-6 d-md-flex flex-md-equal" >
          <a class="mx-auto" target="_blank" href="https://www.facebook.com/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/facebook-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.instagram.com/teampitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/instagram-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.linkedin.com/company/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/linkedin-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.medium.com/@pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/medium-logo.png"></a>
        </div>
        <small class="col-md d-block mb-3 py-5" style="color:white">&copy; 2018 by Pitchspot</small>
      </div>

            </form>
      </div>

      <div class="col-12 col-md">
        <h3 class="col-md" style="color:white"><b>Contact</b></h3>
        <div class="col-md py-5" style="color:white">21 Heng Mui Keng Terrace
          <div style="color:white">The Hangar @ NUS Enterprise</div>
          <div style="color:white">Singapore 119613</div>
        </div>
        <div class="col-md d-block mb-3">
          <a href="#home"><img style="width: 40px; height: 40px; object-fit: cover;" src="/assets/images/up-arrow.png"></a>
        </div>
        <div class="col-md-6 d-md-flex flex-md-equal" >
          <a class="mx-auto" target="_blank" href="https://www.facebook.com/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/facebook-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.instagram.com/teampitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/instagram-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.linkedin.com/company/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/linkedin-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.medium.com/@pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/medium-logo.png"></a>
        </div>
        <small class="col-md d-block mb-3 py-5" style="color:white">&copy; 2018 by Pitchspot</small>
      </div>

            </form>
      </div>

      <div class="col-12 col-md">
        <h3 class="col-md" style="color:white"><b>Contact</b></h3>
        <div class="col-md py-5" style="color:white">21 Heng Mui Keng Terrace
          <div style="color:white">The Hangar @ NUS Enterprise</div>
          <div style="color:white">Singapore 119613</div>
        </div>
        <div class="col-md d-block mb-3">
          <a href="#home"><img style="width: 40px; height: 40px; object-fit: cover;" src="/assets/images/up-arrow.png"></a>
        </div>
        <div class="col-md-6 d-md-flex flex-md-equal" >
          <a class="mx-auto" target="_blank" href="https://www.facebook.com/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/facebook-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.instagram.com/teampitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/instagram-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.linkedin.com/company/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/linkedin-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.medium.com/@pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/medium-logo.png"></a>
        </div>
        <small class="col-md d-block mb-3 py-5" style="color:white">&copy; 2018 by Pitchspot</small>
      </div>

            </form>
      </div>

      <div class="col-12 col-md">
        <h3 class="col-md" style="color:white"><b>Contact</b></h3>
        <div class="col-md py-5" style="color:white">21 Heng Mui Keng Terrace
          <div style="color:white">The Hangar @ NUS Enterprise</div>
          <div style="color:white">Singapore 119613</div>
        </div>
        <div class="col-md d-block mb-3">
          <a href="#home"><img style="width: 40px; height: 40px; object-fit: cover;" src="/assets/images/up-arrow.png"></a>
        </div>
        <div class="col-md-6 d-md-flex flex-md-equal" >
          <a class="mx-auto" target="_blank" href="https://www.facebook.com/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/facebook-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.instagram.com/teampitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/instagram-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.linkedin.com/company/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/linkedin-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.medium.com/@pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/medium-logo.png"></a>
        </div>
        <small class="col-md d-block mb-3 py-5" style="color:white">&copy; 2018 by Pitchspot</small>
      </div>

            </form>
      </div>

      <div class="col-12 col-md">
        <h3 class="col-md" style="color:white"><b>Contact</b></h3>
        <div class="col-md py-5" style="color:white">21 Heng Mui Keng Terrace
          <div style="color:white">The Hangar @ NUS Enterprise</div>
          <div style="color:white">Singapore 119613</div>
        </div>
        <div class="col-md d-block mb-3">
          <a href="#home"><img style="width: 40px; height: 40px; object-fit: cover;" src="/assets/images/up-arrow.png"></a>
        </div>
        <div class="col-md-6 d-md-flex flex-md-equal" >
          <a class="mx-auto" target="_blank" href="https://www.facebook.com/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/facebook-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.instagram.com/teampitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/instagram-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.linkedin.com/company/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/linkedin-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.medium.com/@pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/medium-logo.png"></a>
        </div>
        <small class="col-md d-block mb-3 py-5" style="color:white">&copy; 2018 by Pitchspot</small>
      </div>

            </form>
      </div>

      <div class="col-12 col-md">
        <h3 class="col-md" style="color:white"><b>Contact</b></h3>
        <div class="col-md py-5" style="color:white">21 Heng Mui Keng Terrace
          <div style="color:white">The Hangar @ NUS Enterprise</div>
          <div style="color:white">Singapore 119613</div>
        </div>
        <div class="col-md d-block mb-3">
          <a href="#home"><img style="width: 40px; height: 40px; object-fit: cover;" src="/assets/images/up-arrow.png"></a>
        </div>
        <div class="col-md-6 d-md-flex flex-md-equal" >
          <a class="mx-auto" target="_blank" href="https://www.facebook.com/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/facebook-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.instagram.com/teampitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/instagram-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.linkedin.com/company/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/linkedin-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.medium.com/@pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/medium-logo.png"></a>
        </div>
        <small class="col-md d-block mb-3 py-5" style="color:white">&copy; 2018 by Pitchspot</small>
      </div>

            </form>
      </div>

      <div class="col-12 col-md">
        <h3 class="col-md" style="color:white"><b>Contact</b></h3>
        <div class="col-md py-5" style="color:white">21 Heng Mui Keng Terrace
          <div style="color:white">The Hangar @ NUS Enterprise</div>
          <div style="color:white">Singapore 119613</div>
        </div>
        <div class="col-md d-block mb-3">
          <a href="#home"><img style="width: 40px; height: 40px; object-fit: cover;" src="/assets/images/up-arrow.png"></a>
        </div>
        <div class="col-md-6 d-md-flex flex-md-equal" >
          <a class="mx-auto" target="_blank" href="https://www.facebook.com/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/facebook-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.instagram.com/teampitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/instagram-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.linkedin.com/company/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/linkedin-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.medium.com/@pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/medium-logo.png"></a>
        </div>
        <small class="col-md d-block mb-3 py-5" style="color:white">&copy; 2018 by Pitchspot</small>
      </div>
      </div>

      <div class="col-12 col-md">
        <h3 class="col-md" style="color:white"><b>Contact</b></h3>
        <div class="col-md py-5" style="color:white">21 Heng Mui Keng Terrace
          <div style="color:white">The Hangar @ NUS Enterprise</div>
          <div style="color:white">Singapore 119613</div>
        </div>
        <div class="col-md d-block mb-3">
          <a href="#home"><img style="width: 40px; height: 40px; object-fit: cover;" src="/assets/images/up-arrow.png"></a>
        </div>
        <div class="col-md-6 d-md-flex flex-md-equal" >
          <a class="mx-auto" target="_blank" href="https://www.facebook.com/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/facebook-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.instagram.com/teampitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/instagram-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.linkedin.com/company/pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/linkedin-logo.png"></a>
          <a class="mx-auto" target="_blank" href="https://www.medium.com/@pitchspot"><img style="width: 20px; height: 20px; object-fit: cover;" src="/assets/images/medium-logo.png"></a>
        </div>
        <small class="col-md d-block mb-3 py-5" style="color:white">&copy; 2018 by Pitchspot</small>
      </div>
    -->

<link href="http://fonts.googleapis.com/css?family=Avenir" rel="stylesheet">
<div class="fade-in toolkit" id="toolkit-signin">

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-bulb">
            <img src="/assets/images/navbar-logo-2-2.png" width="30" height="30" alt="Pitchspot">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-title" href="#">Why Pitchspot</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-title dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Solutions
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="https://pitchspot.co/">Toolkit</a>
                        <a class="dropdown-item" href="https://community.pitchspot.co">Community</a>
                        <a class="dropdown-item" href="https://pitchspot.co/business">Hack</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-title" href="https://pitchspot.co/business">Enterprise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-title" href="https://medium.com/@pitchspot">Blog</a>
                </li>

            </ul>
            <a class="nav-align">
                <div class="mobile-resp-login">
                    <form [formGroup]="loginForm">
                        <span class="d-md-flex">
                        <input class="login-input-field" placeholder="Email" formControlName="loginEmail" />
                        <input id="login-pw" class="login-input-field" placeholder="Password" formControlName="loginPassword" type="password" (keyup.enter)="login()" />
                        <div id="login-btn" class="login-btn" (click)=" login()">Login</div>
                        <div id="forgetPassword" class="forget-btn" (click)="forgetPassword()">Reset</div>
                    </span>
                    </form>
                    <div id="showforgetPassword" class="forgetpw-text-style header-text-style:hover">Forgot Password?</div>
                    <div id="showloginPassword" class="forgetpw-text-style header-text-style:hover">Back to Login</div>
                </div>
            </a>
            <!-- Navbar -->

            <!-- <a class="mobile-resp-login">
          <form [formGroup]="loginForm">
            <div class="d-md-flex">
            <input class="login-input-field" placeholder="Email" formControlName="loginEmail" />
            <input id="login-pw" class="pw-input-field" placeholder="Password" formControlName="loginPassword" type="password" (keyup.enter)="login()" />
            <div id="login-btn" class="login-btn" (click)=" login()">Login</div>
            <div id="forgetPassword" class="forget-btn" (click)="forgetPassword()">Reset</div>
            </div>
        </form>
        <a href="javascript:void(0);" class="icon" id="hamburger-toggle">
          </a>
        </a> -->



        </div>
    </nav>

    <!-- Body -->
    <div style="display: flex; justify-content: center;flex-direction: column;">
        <div class="content-section d-md-flex flex-md-equal justify-content-center pl-md-3">
            <div class="d-flex col mobile-resp">
                <div class="left-box">
                    <img src="/assets/images/Pitchspot-white.png" alt="pitchspot_banner" class="pitchspot_banner">
                    <form [formGroup]="signupForm">
                        <div class="signup_form">
                            <div class="signup_header_text">Create an account on Pitchspot!</div>
                            <div id="signUp-info" class="signup_tagline_text">Get the best experience for your ideation stage.</div>
                            <div id="errorMsg" class="signup_err_msg">This email is already in use.</div>
                            <input class="signup-input-field" placeholder="Name" formControlName="signupName" type="text" />
                            <input class="signup-input-field" placeholder="Email" formControlName="signupEmail" type="email" />
                            <input class="signup-input-field" placeholder="Password" type="password" formControlName="signupPassword" (keyup.enter)=" signup()" />
                            <div class="signup_btn" (click)=" signup()"> Let's Change the World!</div>
                            <div class="tnc_text">By signing up, you agree to Pitchspot's
                                <a target="_blank" href="https://www.pdpc.gov.sg/-/media/Files/PDPC/PDF-Files/Other-Guides/guide-on-dp-clauses-for-agreements-related-to-processing-of-personal-data-v1-0-(200716).pdf">
                              Terms of Use and Privacy Policy.
              </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col mobile-hide">
                <div class="right-box">
                    <div class="idea_workspace_text">The world's Smartest Innovation Platform.<br/> Now made awesome using</div>
                    <div class="typewriter_styling">
                        <span class="typewrite" data-period="2000" data-type='[ "Machine Learning", "Data Analytics", "Natural Language" ]'>
            <span class="wrap"></span>
                        </span>
                    </div>
                    <div class="pitchspot_tagline">Pitchspot, your global launchpad for ideas.</div>
                </div>
            </div>
        </div>

        <div class="arrow-down">
            <i class="fa fa-angle-double-down arrow-bounce" (click)="scrollDown()"></i>
        </div>
    </div>
</div>
<div style="font-family: 'Avenir', sans-serif;">


    <div class="box-3" id="landingAbout">
        <div class="container header-3 px-3">WE'VE GOT YOUR NEEDS COVERED</div>
        <p class="section-2 px-5 container">
            We are the world's smartest innovation platform.
            <br>From ideation to community building - the possibilities are endless with Pitchspot.</p>
        <div class="container d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <img src="/assets/images/graph-line-screen.png" class="icon">
                    <div class="sub-header-3">PITCHSPOT TOOLKIT</div>
                    <div class="section-3-text px-2">Gauge the success of your ideas using ML, AI, and data analytics.</div>
                    <div class="learnmore">
                        <a class="lm-community lm-community:hover" target="_blank" href="https://pitchspot.co/">
                        Learn More</a>
                    </div>
                </div>
            </div>

            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <img src="/assets/images/calculator.png" class="icon">
                    <div class="sub-header-3">PITCHSPOT COMMUNITY</div>
                    <div class="section-3-text px-2">Get essential resources and gain knowledge on all things entreprenurship.
                        <div class="learnmore">
                            <a class="lm-community lm-community:hover" target="_blank" href="https://community.pitchspot.co/">
                        Learn More</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <img src="/assets/images/artificial-intelligence.png" class="icon">
                    <div class="sub-header-3">PITCHSPOT HACK</div>
                    <div class="section-3-text px-2">Streamline logistical processes for innovation events and build communities around them.</div>
                    <div class="learnmore">
                        <a class="lm-community lm-community:hover" target="_blank" href="https://pitchspot.co/business">
                        Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-2">
        <div class="container header-2 px-3">INFOGRAPHIC</div>
        <div class="container pt-3 px-3 pt-md-5 pr-md-5 text-center">
            <div class="box-2-1">
            </div>
            <div class="d-md-flex flex-md-equal">
                <div class="d-flex justify-content-center">
                    <img src="/assets/images/new mockup with newsfeed.png" class="product" alt="Gain-Pain Ratio Canvas">
                </div>
                <div class="box-2-2">
                    <div class="box-2-text">
                        <p class="section-1 px-5">The <a class="link link:hover" target="_blank" href="pitchspot.co">Pitchspot Toolkit</a> employs machine learning to help you innovate better. We provide you the resources and directions to help further your ideas.</p>
                        <div class="my-3 py-3">
                            <div class="button button:hover" (click)="scrollUp()">Get Started</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-s4">
        <div class="container section-4-text px-4">Realise true potential of ideas with Pitchspot</div>
        <div class="container d-flex justify-content-center space-button">
            <a class="blue-button blue-button:hover" target="_blank" href="https://pitchspot.co/business">Get Started</a>
        </div>
    </div>

    <div class="arrow-up">
        <i class="fa fa-angle-double-up arrow-bounce" (click)="scrollUp()"></i>
    </div>

    <div class="container container-s5">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="pt-3 px-3 pt-md-4 px-md-5 text-center overflow-hidden">
                <div class="padding">
                    <img src="/assets/images/lightbulb-logo.png" class="light-bulb" title="Pitchspot" (click)="scrollUp()">
                </div>
            </div>
            <div class="pt-md-4 px-md-5 text-center overflow-hidden">
                <div class="py-2">
                    <div class="header-5"><b>GET COFFEE WITH US</b></div>
                    <p>
                        <div class="section-5-text">
                            <a class="link link:hover" target="_blank" href="mailto:hello@pitchspot.co">hello@pitchspot.co</a>
                            <br>
                            <p class="address">
                                <a class="link link:hover" target="blank" href="https://goo.gl/maps/C9PYZJzZjNS2">21 Heng Mui Keng Terrace, The Hangar by NUS Enterprise, #01-01, Singapore 119613</a></p>
                        </div>
                        <ul class="d-md-flex justify-content-start flex-md-equal cluster">
                            <li>
                                <a target="_blank" href="https://www.facebook.com/pitchspot"><img src="/assets/images/facebook-grey.png" class="social-media-logo social-media-logo:hover"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://instagram.com/teampitchspot/"><img src="/assets/images/instagram-grey.png" class="social-media-logo social-media-logo:hover"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/company/pitchspot"><img src="/assets/images/linkedin-grey.png" class="social-media-logo social-media-logo:hover"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.medium.com/@pitchspot"><img src="/assets/images/medium-grey.png" class="social-media-logo social-media-logo:hover"></a>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="pt-md-4 px-md-5 text-center overflow-hidden">
                <div class="py-2">
                    <div class="header-5"><b>RESOURCES</b></div>
                    <p>
                        <div class="section-5-text">
                            <a class="link link:hover" target="_blank" href="https://t.me/pitchspot">Community</a>
                            <br>
                            <a class="link link:hover" target="_blank" href="https://medium.com/@pitchspot/your-ai-driven-newsfeed-c0f1d6f02bda">Recent Updates</a>
                            <br>
                        </div>
                </div>
            </div>
        </div>
        <div class="footer">© Pitchspot 2018</div>
    </div>