.nav-item-box {
    display: flex;
    margin-left: auto;
    font-size: 1.2em;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item-box>div {
    margin-right: 1em;
    cursor: pointer;
}

.mobile-nav-box {
    position: absolute;
    right: 0;
    background: white;
    z-index: 1;
}

.mobile-nav-box>div {
    padding: 1em;
    border: 1px solid #11264b;
    cursor: pointer;
}

.trial-btn {
    padding: 1em 3em;
    border-radius: 1.5em;
    background: #11264b;
    color: white;
    cursor: pointer;
    margin-top: 2em;
    border: 1px solid #11264b;
    transition-duration: 0.5s;
}

.trial-btn:hover {
    background: white;
    border: 1px solid #11264b;
    color: black;
    transition-duration: 0.5s;
}

.slideone {
    display: flex;
    margin-top: 6em;
}

.slidetwo {
    display: flex;
    margin-top: 10em;
}

.slidethree {
    display: flex;
    justify-content: space-around;
}

.slidefour {
    margin-top: 10em;
}

.left {
    width: 50%;
}

.right {}

.logo {
    height: 30px
}

.slide2-content-box {
    width: 15em
}

.each-feature-box {
    display: flex;
    padding: 2em 0
}

.feature-container {
    display: flex;
}

@media (max-width: 500px) {
    .slidethree {
        display: block;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .slideone,
    .slidetwo,
    .slidethree,
    .slidefour {
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 2em;
    }
    .logo {
        height: 20px !important;
        width: 120.3px !important
    }
    .slideone {
        padding: 0 1em
    }
    .left {
        width: 100%;
        margin: auto;
    }
    .trial-btn {
        margin: auto
    }
    .right {
        margin: auto;
        margin-top: 2em;
    }
    nav {
        padding-right: 2em !important;
        padding-left: 2em !important;
    }
    img {
        width: 15em;
    }
    .slide2-content-box {
        margin: auto
    }
    .each-feature-box {
        display: block;
    }
    .feature-container {
        display: block;
        padding: 0 1em;
    }
    .feature-container>div {
        width: 100% !important;
    }
}