<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

<div class="" style="font-family: 'Ubuntu', sans-serif; margin: auto;max-width: 900px;">

    <!-- navbar -->
    <app-nav-landing-business></app-nav-landing-business>
    <!-- navbar -->
    <!-- slide 1 -->
    <div id="mydiv" class="fade-in">
        <div class="slideone">
            <div class="left">
                <div style="font-weight: bold; font-size: 2em; color: #11264b ">Your Idea Workspace.<br/> Now Made Awesome Using</div>
                <span style="margin: 1em 0; font-size: 1.2em; color: #151C30">
                   
                <span class="typewrite" style="font-weight: bold; font-size: 2.5em;" data-period="2000" data-type='[ "Machine Learning", "Data Analytics", "Neuro Linguistic" ]'>
                        <span class="wrap"></span>
                </span>
                </span>
                <div style="margin: 1em 0; font-size: 1.2em;  color: #151C30">Pitchspot, your global launchpad for ideas.</div>
                <div style="display: flex">
                    <div class="trial-btn " (click)="redirect()"> Start Free
                    </div>
                </div>

            </div>
            <div class="right">
                <img src="../../../assets/images/workspace.png " style=" ">
            </div>
        </div>
        <!-- slide 2 -->
        <div class="slidetwo">
            <div class="left" id="about-one">
                <div style="font-weight: bold; font-size: 2.5em; color: #11264b ">Idea Launchpad
                </div>
                <div style="margin: 1em 0; font-size: 1.2em; color: #151C30">We help you grow your ideas through data driven information and aggregated insights.</div>
            </div>

        </div>
        <div class="slidethree" style="margin-top: 1em;">
            <div>
                <img src="../../../assets/images/pitch.png" style="width:15em;">
                <div class="slide2-content-box">
                    <div style="text-align: center; font-weight: bold; color: #11264b">IDAE INSIGHTS</div>
                    <div style="text-align: center; font-size: 1.2em ">Gather insights using data driven informations. </div>
                </div>
            </div>
            <div>
                <img src="../../../assets/images/communicate.png" style="width:15em;">
                <div class="slide2-content-box">
                    <div style="text-align: center; font-weight: bold; color: #11264b">THE NEXT STEP</div>
                    <div style="text-align: center; font-size: 1.2em">Identify the next step to take to develop your idea. </div>
                </div>
            </div>
            <div>
                <img src="../../../assets/images/team.png" style="width:15em; margin: auto;">
                <div class="slide2-content-box">
                    <div style="text-align: center; font-weight: bold; color: #11264b">IDEA COLLABORATION</div>
                    <div style="text-align: center; font-size: 1.2em; ">Choose to collaborate with others or keep your idea secret. It's your call.</div>
                </div>
            </div>
        </div>
        <div class="slidefour" id="feature-one">
            <div style="text-align: center; ">
                <div style="font-size: 2.5em; font-weight: bold; color: #11264b ">Platform Features
                </div>
                <div style="font-size: 1.2em "> We aim to streamline the ideation processes that you will have to go through when ideating.</div>
            </div>

            <div style="display: flex">
                <div class="each-feature-box" style="width:50%">
                    <div>
                        <img src="../../../assets/images/analytics.png " style="width:4em; margin: 1em ">
                    </div>
                    <div style="margin: 1em 0 ">
                        <div style="font-size: 1.25em; font-weight: bold; ">Data Analytics Reporting
                        </div>
                        <div>Leverage on our post-event data analytics report to better plan future events.
                        </div>
                    </div>
                </div>
                <div class="each-feature-box " style="width:50%">
                    <div>
                        <img src="../../../assets/images/preevent.svg " style="width:4em; margin: 1em ">
                    </div>
                    <div style="margin: 1em 0 ">
                        <div style="font-size: 1.25em; font-weight: bold; ">Idea Collaboration

                        </div>
                        <div>If you choose to make your idea public, you can leverage on our active community to collaborate. </div>
                    </div>
                </div>
            </div>
            <div style="display: flex">
                <div class="each-feature-box " style="width:50%">
                    <div>
                        <img src="../../../assets/images/secure.png " style="width:4em; margin: 1em ">
                    </div>
                    <div style="margin: 1em 0 ">
                        <div style="font-size: 1.25em; font-weight: bold; ">Secure</div>
                        <div>Work on your idea privately with the tools we have developed. We hope that you will grow your idea and start collborating with others.
                        </div>
                    </div>
                </div>

                <div class="each-feature-box " style="width:50%">
                    <div>
                        <img src="../../../assets/images/aggregate.png " style="width:4em; margin: 1em ">
                    </div>
                    <div style="margin: 1em 0 ">
                        <div style="font-size: 1.25em; font-weight: bold; ">Aggregated Overview
                        </div>
                        <div>Say goodbye to a chunk of data sets. Our fuss-free dashboard collates and aggregates data for you.</div>
                    </div>
                </div>
            </div>
        </div>



        <div style="margin-top: 6em;text-align: center; ">
            <div style="font-weight: bold; font-size: 2.5em;color: #11264b ">Start Ideating Now!</div>
            <div style="padding: 2em 0 ">
                Stop using excel sheet! It's 2018!
            </div>
            <div style="display: flex; justify-content: center; ">
                <div class="trial-btn " (click)="redirect()"> Start Free
                </div>
            </div>
            <div style="margin-top: 8em; ">
                © Pitchspot 2018
            </div>
        </div>
    </div>